<div class="container main-container">
  <div class="row text-center">
    <div class="form-group">
      <form [formGroup]="formFiltro" (ngSubmit)="onSubmit()" class="form">
        <span class="form-span">Filtro</span>

        <mat-form-field class="form-fields">
          <mat-label>Placa: </mat-label>
          <input matInput placeholder="Placa" formControlName="placa">
        </mat-form-field>

        <mat-form-field class="form-fields">
          <mat-label>Período</mat-label>
          <mat-date-range-input [formGroup]="formFiltro" [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Data Inicial">
            <input matEndDate formControlName="endDate" placeholder="Data Final">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <input type="submit" class="btn btn-primary mt-4 button" value="Filtrar">
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Veículo</th>
          <th scope="col">Ponto de Interesse</th>
          <th scope="col">Chegada</th>
          <th scope="col">Saída</th>
          <th scope="col">Duração</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of infos">
          <th scope="row">{{ info.car.placa }}</th>
          <td>{{ info.poi.nome }}</td>
          <td>{{ info.startDate | date:"dd/MM/yyyy HH:mm" }}</td>
          <td>{{ info.endDate | date:"dd/MM/yyyy HH:mm" }}</td>
          <td>{{ info.duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>